---

---

<nav class="text-l bg-pink">
  <div class="flex justify-center align-middle">
    <a href="/" class="py-4 px-4 text-white cursor-pointer hover:text-yellow"
      >Home</a
    >
    <a
      href="/contact"
      class="py-4 px-4 text-white cursor-pointer hover:text-yellow">Contact</a
    >
    <a
      href="store"
      class="py-4 px-4 text-white cursor-pointer hover:text-yellow">Shop</a
    >
    <a
      href="resources"
      class="py-4 px-4 text-white cursor-pointer hover:text-yellow">Resources</a
    >
  </div>
</nav>
